version: '3.8'

services:
  # Frontend - Jitsi Meet Web Interface
  web:
    image: jitsi/web:latest
    restart: ${RESTART_POLICY:-unless-stopped}
    ports:
      - '${HTTP_PORT:-80}:80'
      - '${HTTPS_PORT:-443}:443'
    volumes:
      - ${CONFIG}/web:/config:Z
      - ${CONFIG}/web/letsencrypt:/etc/letsencrypt:Z
    environment:
      - ENABLE_AUTH=${ENABLE_AUTH:-1}
      - ENABLE_GUESTS=${ENABLE_GUESTS:-1}
      - ENABLE_LETSENCRYPT=${ENABLE_LETSENCRYPT:-0}
      - ENABLE_HTTP_REDIRECT=${ENABLE_HTTP_REDIRECT:-1}
      - LETSENCRYPT_DOMAIN=${LETSENCRYPT_DOMAIN:-}
      - LETSENCRYPT_EMAIL=${LETSENCRYPT_EMAIL:-}
      - PUBLIC_URL=${PUBLIC_URL:-}
      - JWT_APP_ID=${JWT_APP_ID:-}
      - JWT_APP_SECRET=${JWT_APP_SECRET:-}
      - ENABLE_RECORDING=${ENABLE_RECORDING:-0}
    networks:
      meet.jitsi:
        aliases:
          - ${XMPP_DOMAIN}

  # XMPP Server - Prosody
  prosody:
    image: jitsi/prosody:latest
    restart: ${RESTART_POLICY:-unless-stopped}
    ports:
      - '5222:5222'
      - '5347:5347'
      - '5280:5280'
    volumes:
      - ${CONFIG}/prosody:/config:Z
    environment:
      - AUTH_TYPE=${AUTH_TYPE:-jwt}
      - ENABLE_AUTH=${ENABLE_AUTH:-1}
      - ENABLE_GUESTS=${ENABLE_GUESTS:-1}
      - GLOBAL_MODULES=${GLOBAL_MODULES:-}
      - GLOBAL_CONFIG=${GLOBAL_CONFIG:-}
      - LDAP_URL=${LDAP_URL:-}
      - LDAP_BASE=${LDAP_BASE:-}
      - LDAP_BINDDN=${LDAP_BINDDN:-}
      - LDAP_BINDPW=${LDAP_BINDPW:-}
      - LDAP_FILTER=${LDAP_FILTER:-}
      - LDAP_AUTH_METHOD=${LDAP_AUTH_METHOD:-}
      - LDAP_VERSION=${LDAP_VERSION:-}
      - LDAP_USE_TLS=${LDAP_USE_TLS:-}
      - LDAP_TLS_CIPHERS=${LDAP_TLS_CIPHERS:-}
      - LDAP_TLS_CHECK_PEER=${LDAP_TLS_CHECK_PEER:-}
      - LDAP_TLS_CACERT_FILE=${LDAP_TLS_CACERT_FILE:-}
      - LDAP_TLS_CACERT_DIR=${LDAP_TLS_CACERT_DIR:-}
      - LDAP_START_TLS=${LDAP_START_TLS:-}
      - XMPP_DOMAIN=${XMPP_DOMAIN:-meet.jitsi}
      - XMPP_AUTH_DOMAIN=${XMPP_AUTH_DOMAIN:-auth.meet.jitsi}
      - XMPP_GUEST_DOMAIN=${XMPP_GUEST_DOMAIN:-guest.meet.jitsi}
      - XMPP_MUC_DOMAIN=${XMPP_MUC_DOMAIN:-muc.meet.jitsi}
      - XMPP_INTERNAL_MUC_DOMAIN=${XMPP_INTERNAL_MUC_DOMAIN:-internal-muc.meet.jitsi}
      - XMPP_MODULES=${XMPP_MODULES:-}
      - XMPP_MUC_MODULES=${XMPP_MUC_MODULES:-}
      - XMPP_INTERNAL_MUC_MODULES=${XMPP_INTERNAL_MUC_MODULES:-}
      - XMPP_RECORDER_DOMAIN=${XMPP_RECORDER_DOMAIN:-recorder.meet.jitsi}
      - JWT_APP_ID=${JWT_APP_ID:-}
      - JWT_APP_SECRET=${JWT_APP_SECRET:-}
      - JWT_ACCEPTED_ISSUERS=${JWT_ACCEPTED_ISSUERS:-}
      - JWT_ACCEPTED_AUDIENCES=${JWT_ACCEPTED_AUDIENCES:-}
      - JWT_ASAP_KEYSERVER=${JWT_ASAP_KEYSERVER:-}
      - JWT_ALLOW_EMPTY=${JWT_ALLOW_EMPTY:-0}
      - JWT_AUTH_TYPE=${JWT_AUTH_TYPE:-}
      - JWT_TOKEN_AUTH_MODULE=${JWT_TOKEN_AUTH_MODULE:-}
      - LOG_LEVEL=${LOG_LEVEL:-}
    networks:
      meet.jitsi:
        aliases:
          - ${XMPP_DOMAIN}
          - ${XMPP_AUTH_DOMAIN}
          - ${XMPP_GUEST_DOMAIN}
          - ${XMPP_INTERNAL_MUC_DOMAIN}

  # JVB - Jitsi Videobridge
  jvb:
    image: jitsi/jvb:latest
    restart: ${RESTART_POLICY:-unless-stopped}
    ports:
      - '${JVB_PORT:-10000}:10000/udp'
      - '${JVB_TCP_PORT:-4443}:4443/tcp'
    volumes:
      - ${CONFIG}/jvb:/config:Z
    environment:
      - DOCKER_HOST_ADDRESS=${DOCKER_HOST_ADDRESS:-}
      - ENABLE_APIS=${ENABLE_APIS:-}
      - XMPP_AUTH_DOMAIN=${XMPP_AUTH_DOMAIN:-auth.meet.jitsi}
      - XMPP_INTERNAL_MUC_DOMAIN=${XMPP_INTERNAL_MUC_DOMAIN:-internal-muc.meet.jitsi}
      - XMPP_SERVER=${XMPP_SERVER:-prosody.meet.jitsi}
      - JVB_AUTH_USER=${JVB_AUTH_USER:-jvb}
      - JVB_AUTH_PASSWORD=${JVB_AUTH_PASSWORD:-}
      - JVB_AUTH_TOKEN=${JVB_AUTH_TOKEN:-}
      - JVB_BREWERY_MUC=${JVB_BREWERY_MUC:-jvbbrewery}
      - JVB_PORT=${JVB_PORT:-10000}
      - JVB_TCP_HARVESTER_DISABLED=${JVB_TCP_HARVESTER_DISABLED:-}
      - JVB_TCP_PORT=${JVB_TCP_PORT:-4443}
      - JVB_TCP_MAPPED_PORT=${JVB_TCP_MAPPED_PORT:-}
      - JVB_STUN_SERVERS=${JVB_STUN_SERVERS:-}
      - JVB_ENABLE_APIS=${JVB_ENABLE_APIS:-}
      - JVB_WS_DOMAIN=${JVB_WS_DOMAIN:-}
      - JVB_WS_SERVER_ID=${JVB_WS_SERVER_ID:-}
      - PUBLIC_URL=${PUBLIC_URL:-}
      - TZ=${TZ:-}
    networks:
      meet.jitsi:

networks:
  meet.jitsi:
    name: meet.jitsi

